* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 200vh; 
    width: 100vw; 
    background-image: url('Main Menu Screen.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: local;
    position: relative; 
}

.button-container1 {
    position: absolute; 
    top: 33%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
}
.button-container2 {
    position: absolute; 
    top: 54%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
}

.button1 { 
    position: absolute; 
    top: 80%; 
    left: 19%; 
}

.button2 { 
    position: absolute; 
    top: 30%; 
    left: 50%; 
    
}

.button3 { 
    position: absolute; 
    top: 80%; 
    left: 19%;
}

.button4 { 
    position: absolute; 
    top: 30%; 
    left: 50%; 
}

button {
    background-color: transparent; 
    border: none; 
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

button img {
    width: 220px; 
    height: 220px;
}